

.h5{
  color: gray;
  font-weight: bold;
}

.h3{
  color: #505050;
  font-weight: bold;

}

.h3small{
  color: #505050;
  font-weight: bold;
  font-size: 12px;
  padding-top: -3px;
}

.classDiv{
  text-align: right; 
  padding-top: 10px;
}